<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta
          name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <link rel="stylesheet" href="css/style.css"/>
  <link rel="stylesheet" href="/images/">
  <link rel="shortcut icon" href="images/SGlogo.ico">
  <title>ALL_HASHTAGS</title>
</head>

<body>
<header>
  <div>
    <a th:href="@{'/'}" class="title"><h1>SneakerGeeks</h1></a>
  </div>
  <div>
    <h2 class="title">All Hashtags</h2>
  </div>


  <ul>
    <li th:each="hashtag : ${hashtags}"><a th:href="@{'/hashtags/' + ${hashtag.getName()}}" th:text="${hashtag.getName()}"></a></li>
  </ul>
</header>
<footer class="footer">
  <small>&#169; 2021 SneakerGeeks</small>
</footer>
</body>
</html>